<h3>Create an employee</h3>

<form action="/employees/create" method="post">
    Emp No : <input type="text" />
    First Name : <input type="text" />

    <input type="submit" class="btn btn-primary">
</form>