<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- views/partials/head.ejs -->

    <meta charset="UTF-8">
    <title>Limetools</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon glyphicon-user"></span>
                        LimeTools
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>                                     
                    <li><a href="/about">About</a></li>
                    

                    <% if (locals.loggedInUser !== undefined) { %>
                        <li><a href="/employees">Employees</a></li>
                        <li>
                            <a href="/auth/profile">
                            Hi, <%= locals.loggedInUser.local.email %>
                            </a>
                        </li>
                        <li><a href="/auth/logout">Logout</a></li>
                    <% } %>
                </ul>

            </div>
        </nav>
    </header>

    <div class="container">
        <% if (locals.error !== undefined && locals.error.length > 0) { %>
            <div class="alert alert-danger">
                <%= locals.error %>
            </div>
        <% } %>
        <!--Body portion of the website -->
        <%- body %>
    </div>


</body>
</html>
