<div class="jumbotron text-center">
    <h2>Limetools</h2>

    <p>
      Limetools - Simple ERP built with Node.js, Server side
      <br>
      - User signup/login, manage employees (All CRUD operations)
    </p>

    
    <a href="/auth/login" class="btn btn-primary"><span class="fa fa-user"></span>Login</a>
    <a href="/auth/signup" class="btn btn-primary"><span class="fa fa-user"></span>Signup</a>
</div>
